target/classes/org/tei_c/ns/_1/Abstract.class
target/classes/org/tei_c/ns/_1/Address.class
target/classes/org/tei_c/ns/_1/AddrLine.class
target/classes/org/tei_c/ns/_1/Affiliation.class
target/classes/org/tei_c/ns/_1/Analytic.class
target/classes/org/tei_c/ns/_1/Anchor.class
target/classes/org/tei_c/ns/_1/Author.class
target/classes/org/tei_c/ns/_1/Availability.class
target/classes/org/tei_c/ns/_1/Back.class
target/classes/org/tei_c/ns/_1/Bibl.class
target/classes/org/tei_c/ns/_1/BiblScope.class
target/classes/org/tei_c/ns/_1/BiblStruct.class
target/classes/org/tei_c/ns/_1/Body.class
target/classes/org/tei_c/ns/_1/Cell.class
target/classes/org/tei_c/ns/_1/ClassCode.class
target/classes/org/tei_c/ns/_1/CorrespAction.class
target/classes/org/tei_c/ns/_1/CorrespContext.class
target/classes/org/tei_c/ns/_1/CorrespDesc.class
target/classes/org/tei_c/ns/_1/Country.class
target/classes/org/tei_c/ns/_1/Date.class
target/classes/org/tei_c/ns/_1/Div.class
target/classes/org/tei_c/ns/_1/Edition.class
target/classes/org/tei_c/ns/_1/EditionStmt.class
target/classes/org/tei_c/ns/_1/Editor.class
target/classes/org/tei_c/ns/_1/Email.class
target/classes/org/tei_c/ns/_1/FigDesc.class
target/classes/org/tei_c/ns/_1/Figure.class
target/classes/org/tei_c/ns/_1/FileDesc.class
target/classes/org/tei_c/ns/_1/Forename.class
target/classes/org/tei_c/ns/_1/Formula.class
target/classes/org/tei_c/ns/_1/Front.class
target/classes/org/tei_c/ns/_1/Graphic.class
target/classes/org/tei_c/ns/_1/Head.class
target/classes/org/tei_c/ns/_1/Hi.class
target/classes/org/tei_c/ns/_1/Idno.class
target/classes/org/tei_c/ns/_1/Imprint.class
target/classes/org/tei_c/ns/_1/Item.class
target/classes/org/tei_c/ns/_1/Keywords.class
target/classes/org/tei_c/ns/_1/Label.class
target/classes/org/tei_c/ns/_1/Licence.class
target/classes/org/tei_c/ns/_1/Link.class
target/classes/org/tei_c/ns/_1/List.class
target/classes/org/tei_c/ns/_1/ListBibl.class
target/classes/org/tei_c/ns/_1/Meeting.class
target/classes/org/tei_c/ns/_1/Monogr.class
target/classes/org/tei_c/ns/_1/Name.class
target/classes/org/tei_c/ns/_1/Note.class
target/classes/org/tei_c/ns/_1/NotesStmt.class
target/classes/org/tei_c/ns/_1/ObjectFactory.class
target/classes/org/tei_c/ns/_1/Org.class
target/classes/org/tei_c/ns/_1/OrgName.class
target/classes/org/tei_c/ns/_1/P.class
target/classes/org/tei_c/ns/_1/package-info.class
target/classes/org/tei_c/ns/_1/PersName.class
target/classes/org/tei_c/ns/_1/PostBox.class
target/classes/org/tei_c/ns/_1/PostCode.class
target/classes/org/tei_c/ns/_1/ProfileDesc.class
target/classes/org/tei_c/ns/_1/Ptr.class
target/classes/org/tei_c/ns/_1/PublicationStmt.class
target/classes/org/tei_c/ns/_1/Publisher.class
target/classes/org/tei_c/ns/_1/PubPlace.class
target/classes/org/tei_c/ns/_1/Ref.class
target/classes/org/tei_c/ns/_1/Region.class
target/classes/org/tei_c/ns/_1/RoleName.class
target/classes/org/tei_c/ns/_1/Series.class
target/classes/org/tei_c/ns/_1/SeriesStmt.class
target/classes/org/tei_c/ns/_1/Settlement.class
target/classes/org/tei_c/ns/_1/SourceDesc.class
target/classes/org/tei_c/ns/_1/Street.class
target/classes/org/tei_c/ns/_1/Surname.class
target/classes/org/tei_c/ns/_1/Table.class
target/classes/org/tei_c/ns/_1/TEI.class
target/classes/org/tei_c/ns/_1/TeiDataCertainty.class
target/classes/org/tei_c/ns/_1/TeiHeader.class
target/classes/org/tei_c/ns/_1/TeiMacroLimitedContent.class
target/classes/org/tei_c/ns/_1/TeiMacroParaContent.class
target/classes/org/tei_c/ns/_1/TeiMacroPhraseSeq.class
target/classes/org/tei_c/ns/_1/TeiMacroPhraseSeqLimited.class
target/classes/org/tei_c/ns/_1/TeiMacroSpecialPara.class
target/classes/org/tei_c/ns/_1/Term.class
target/classes/org/tei_c/ns/_1/Text.class
target/classes/org/tei_c/ns/_1/TextClass.class
target/classes/org/tei_c/ns/_1/Title.class
target/classes/org/tei_c/ns/_1/TitleStmt.class
target/classes/org/tei_c/ns/_1/Trash.class
target/classes/org/tei_c/ns/_1/XenoData.class
target/classes/de/dfki/scilake/Main.class
target/classes/de/dfki/scilake/dostres/DOSTRESApplication.class
target/classes/de/dfki/scilake/dostres/api/RestAPIController.class
target/classes/de/dfki/scilake/dostres/data/Format.class
target/classes/de/dfki/scilake/dostres/data/InformationDecoder.class
target/classes/de/dfki/scilake/dostres/data/SCIONT.class
target/classes/de/dfki/scilake/dostres/engine/GrobidEngine.class
